<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>iconfree-80</string>
		<string>iconfree-58</string>
		<string>iconfree</string>
		<string>iconfree-120</string>
		<string>iconfree-57</string>
		<string>iconfree-114</string>
		<string>icon-80</string>
		<string>icon-58</string>
		<string>icon</string>
		<string>iconfree-120</string>
		<string>iconfree-114</string>
		<string>iconfree-57</string>
		<string>Icon.png</string>
		<string>icon-72.png</string>
	</array>
	<key>CFBundleIconFiles~ipad</key>
	<array>
		<string>iconfree-58</string>
		<string>iconfree-80</string>
		<string>iconfree-40</string>
		<string>iconfree-100</string>
		<string>iconfree-50</string>
		<string>iconfree-152</string>
		<string>iconfree-76</string>
		<string>iconfree-144</string>
		<string>iconfree</string>
		<string>icon-58</string>
		<string>icon-80</string>
		<string>icon-40</string>
		<string>icon-100</string>
		<string>icon-50</string>
		<string>icon-152</string>
		<string>icon-76</string>
		<string>icon-144</string>
		<string>icon</string>
		<string>icon-120</string>
		<string>icon-114</string>
		<string>icon-57</string>
		<string>Icon.png</string>
		<string>icon-72.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.nilooapps.chalkypongfree</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>956</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchImageFile</key>
	<string>Default</string>
	<key>UILaunchImageFile~ipad</key>
	<string>Default</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>accelerometer</key>
		<true/>
		<key>gamekit</key>
		<true/>
		<key>opengles-2</key>
		<true/>
	</dict>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
